main {
  background-color: #bdd2a6;

  .imgCarousel {
    width: 100vw;
    height: 90vh;
    object-fit: cover;
  }

  .textCarousel {
    padding-bottom: 45vh;
    color: white;
    font-size: xx-large;
    text-shadow: 4px -3px 5px rgba(80, 77, 77, 0.52);
  }

  .carouselIndicators {
    color: black;
  }

  @media all and (max-width: 576px) {
    .imgCarousel {
      height: 50vh;
      object-fit: cover;
    }
    .textCarousel {
      padding-bottom: 0vh;
    }
  }
  .profesionales:hover {
    transform: scale(1.07);
  }

  .boton {
    background-color: green;
  }
}
